@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*--- ページ基本デザイン ---*/
p {
	font-size: 13px;
}
.header,.footer {
	width: 100%;
}
#column,.main_logo {
	width: 980px;
	margin: 0 auto;
}
.header p,#sub_title h2,#rule span {
	font-weight: bold;
}
.logo {
	padding: 10px 0;
}
#main_navi {
	height: 25px;
	width: 100%;
	background-color: #001754;
}
#main_navi li {
	float: left;
	color: #fff;
	border: 1px solid #fff;
	border-top: none;
	width: calc(100%/6);
	text-align: center;
	height: 30px;
}
#main_navi .hover:hover {
	color: #001754;
	background-color: #ffffff;
}
#side_column {
	width: 260px;
	float: right;
	margin: 20px 0 0 20px;
}
#side_column img {
	margin-top: 10px;
}
#main_column {
	width: 700px;
	margin: 0 auto;
	float: left;
}
.title {
	background-color: #001754;
	color: #fff;
	margin: 30px 0 20px 0;
	clear: both;
}
.title h1 {
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
}
.service {
	float: left;
	width: calc(100%/3);
	padding: 0 10px 40px 10px;
}
.service h2 {
	text-align: center;
	font-weight: bold;
	line-height: 40px;
}
.service p {
	line-height: 20px;
}
#recruit li {
	list-style-type: disc;
	line-height: 25px;
	margin-left: 17px;
}
#sub_title {
	border-bottom: 2px solid #001754;
	color: #001754;
	font-size: 20px;
	margin-top: 20px;
	padding-bottom: 5px;
}
#rule {
	line-height: 70px;
}
#know_how li {
	list-style-type: decimal;
	margin-left: 18px;
}
table tr th {
	width: 300px;
	background-color: #cccccc;
	border: 1px solid #ffffff;
	line-height: 50px;
	font-weight: bold;
	padding-left: 10px;
}
table tr td {
	width: 400px;
	border: 1px solid #cccccc;
	padding-left: 10px;
}
#contents {
	display: block;
	margin: 10px 30px 10px 0;
	width: 350px;
}
#send {
	display: block;
	margin: 10px auto 30px auto;
}
.footer {
	border-top: 2px solid #001754;
	clear: both;
}
#copy_right {
	color: #ffffff;
	background-color: #001754;
}
#copy_right p {
	text-align: center;
	font-size: 7px;
	line-height: 20px;
}
@media screen and (max-width: 768px) {
	.header,.footer,#column,.service img,#side_column img,#name,#contents,.main_logo {
		width: 100%;
	}
	#side_column,.service,#main_column {
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	table,table tbody,table tbody tr,table tbody tr th,table tbody tr td {
		display: block;
		width: 100%;
	}
	.footer img {
		margin: 0 auto;
	}
	.none {
		display: none;
	}
	#main_navi li {
		width: 25%;
	}
}