/*--- 以下 ---*/
#info table {
	width: 45%;
	margin: 80px auto;
}
#info table tr th {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	line-height: 50px;
	width: 20%;
	text-align: center;
}
#info td{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	line-height: 50px;
	width: 50%;
}
#close {
	width: 20%;
	margin: 10px 32%;
}
#close a,#close p {
	font-size: 16px;
}
#edit_submit {
	margin-left: 47%;
	font-size: 16px;
	cursor: pointer;
}
#editform table {
	margin: 30px auto;
}
#editform table tr th {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	line-height: 50px;
	width: 20%;
	text-align: center;
}
#editform td{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	line-height: 50px;
	width: 50%;
}
#input_box {
	width: 250px;
	line-height: 25px;
	font-size: 17px;
}
#history_res table {
	width: 45%;
	margin: 0 auto 5px auto;
}
#history_res table tr th {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	line-height: 35px;
	width: calc(45%/4);
	text-align: center;
}
#history_res td{
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	width: calc(45%/4);
	text-align: center;
}
#history_del {
	font-size: 16px;
	cursor: pointer;
	margin: 0 30%;
}
#history_edit {
	font-size: 16px;
	cursor: pointer;
	margin: 0 30%;
}
#total_res {
	width: 20%;
	margin: 80px 27% 10px 27%;
}
#total_res p {
	font-size: 18px;
}
#no_res {
	width: 20%;
	margin: 30px 27%;
}
#no_res p {
	font-size: 18px;
}
#outofterm {
	line-height: 45px;
	font-size: 15px;
}
#interm {
	line-height: 35px;
}