@charset "UTF-8";
a {
  text-decoration: none;
}
textarea {
  font-size: 100%;
  vertical-align: middle;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
html {
  height: 100%;
}
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  width: 100%;
}
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}
/*--- 以下 ---*/
table {
	font-size: 18px;
}
.information,.information2 {
	padding-top: 30px;
	width: 80%;
	margin: 0 auto;
}
.information table {
	width: 50%;
	margin: 0 auto;
	border-collapse: collapse;
}
.information2 table {
	width: 20%;
	margin: 0 auto;
	border-collapse: collapse;
}
.information table tr th {
	line-height: 25px;
	text-align: center;
	border-bottom: 1px solid grey;
}
.information2 table tr th{
	line-height: 25px;
	text-align: center;
}
.information table tr td{
	line-height: 60px;
}
.information2 table tr td{
	line-height: 60px;
	text-align: center;
}
.information #btn,.information2 #btn{
	margin: 3% 0 0 49%;
	font-size: 15px;
	letter-spacing: 3px;
	cursor: pointer;
}